
# Android Studio will place build artifacts here
# Flutter/Dart/Pub related
# IntelliJ related
# Miscellaneous
# Obfuscation related
# Symbolication related
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
**/doc/api/
**/ios/Flutter/.last_build_id
*.class
*.iml
*.ipa
*.ipr
*.iws
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.dart_tool/
.flutter-plugins-dependencies
.history
.idea/
.pub-cache/
.pub/
.svn/
.swiftpm/
/android/app/debug
/android/app/profile
/android/app/release
/build/
/coverage/
app.*.map.json
app.*.symbols
ios/build/
migrate_working_dir/
